
body{
    font-family: 'Lora', serif;
}


.B-nav{
    
    height: 100px;
    background-color: blue;
}


.B-about-us{
    
    border: solid 2px #E0E0E0;
    border-top: 0px;
}

.B-about-us >h1{
    
    border-bottom: solid 1px #E0E0E0;

}

.B-img-exc{
    
    width: 50px;
}

.B-parag {
    
    font-size: 20px;
    font-weight: 100;
}

.B-img-question{
    width: 50px;
}